---
layout: default
title: Home
---

<!-- Home Jumbotron
================================================== -->    
<section class="intro full-width">
    <div class="wrapintro">
        <h1 style="color: white; font-size: 60px;">Cerebro</h1>
        <h2 class="lead">Research for Students</h2>    
    </div>
</section>


<!-- Featured
================================================== -->
<!-- <section class="featured-posts">

    <div class="section-title">
        <p style="font-size: 30px;">Featured from Cerebro</p><br>
    </div>

    <div class="row listfeaturedtag">

    {% for post in site.posts %}

        {% if post.featured == true %}

            {% include featuredbox.html %}

        {% endif %}

    {% endfor %}

    </div>

</section> -->

<section style="margin-top:6em">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-size: 40px;">Upcoming Talks and Workshops</p>
                <!-- <h4>January 9th - Thursday : Topic :- <span style="font-weight: 200;">Relations, Data and Knowledge, How machines can get smarter?</span> </h4>
                <p>The topic will focus on understanding what are relations and will talk about Knowledge Graphs. The pre-requisites for understanding the talk are 
                    <li>Understanding of Vector spaces</li>
                </p> -->
            </div>
        </div>
    </div>
</section>

<section style="margin-top:6em">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p style="font-size: 40px;">Past Talks and Workshops</p>
                <h4>January 6th - Monday : Topic :- <span style="font-weight: 200;">Relations, Data and Knowledge, How machines can get smarter?</span> </h4>
                <p>The topic will focus on understanding what are relations and will talk about Knowledge Graphs. The pre-requisites for understanding the talk are 
                    <li>Understanding of Vector spaces</li>
                </p>
                <b>--Slides Uploaded!--</b>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container">

    </div>
</section>

<section style="margin-top:6em">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p style="font-size: 30px;">What we do?</p>
                We are a group of young engineers who are working towards making AI and software research more prevalant in universities in 
                India. And of course we use this expertise to solve problems which contribute to the larger spectrum of AI along with those 
                which are close to home.
                <img src="https://static.wixstatic.com/media/9fb4b4_075b4008794149c8a54e2693c42d93ab~mv2.jpg/v1/fill/w_848,h_640,al_c,q_85/9fb4b4_075b4008794149c8a54e2693c42d93ab~mv2.webp" width="100%" height="auto" style="margin-top:3em"/>
            </div>
            <div class="col-lg-6">
                <img src="http://blogs.biomedcentral.com/on-physicalsciences/wp-content/uploads/sites/14/2019/02/data-1-620x342.jpg" />
                <p style="font-size: 30px; margin-top: 2em;">Where can you find us?</p>
                We are currently a group situated in the Indian Institute of Technology, Gandhinagar, but we hope to one day be across India. 
                You can always contact us through email
                <br><br>
                email - coding@iitgn.ac.in
            </div>
        </div>
    </div>
</section>
