<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/assets/images/favicon.png">    
<title>{{ page.title }} | {{site.name}}</title>
{% seo %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
<link href="/assets/css/theme.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">
</head>
    

    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Begin Menu Navigation
================================================== -->
<header class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsWow" aria-controls="navbarsWow" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">

        <!-- Begin Logo -->
        <a class="navbar-brand" href="/">
            Cerebro
        </a>
        <!-- End Logo -->

        <!-- Begin Menu -->
        <div class="collapse navbar-collapse" id="navbarsWow">
            
            <!-- Begin Menu -->
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Stay Tuned!</a>
                      <!-- <a class="dropdown-item" href="#">Another action</a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" href="#">Something else here</a> -->
                    </div>
                </li>

                <li class="nav-item">                
                    <a class="nav-link" href="/archive">Blog and Talks</a>
                </li> 
                
                <li class="nav-item">                
                    <a class="nav-link" href="/about">About</a>
                </li> 
                
                 <li class="nav-item">                
                    <a target="_blank" class="nav-link" href="https://github.com/cerebroai">Github</a>
                </li> 
            </ul>
            <!-- End Menu -->
            
        </div>
    </div>
</header>
    

    
<!-- End Menu Navigation
================================================== -->
    
<div class="site-content">
    
    <div class="container">

    <!-- Site Title
    ================================================== -->

    <div class="mainheading" style="display:none;">
        <h1 class="sitetitle">{{ site.name }}</h1>
        <p class="lead">
             {{ site.description }}
        </p>
    </div>


    <!-- Content
    ================================================== --> 
    <div class="main-content">
        {{ content }}
    </div>

    </div><!-- /.container --> 



    <!-- Before Footer
    ================================================== --> 
    <div class="beforefooter">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <h4>Help us in making research more interesting and viable for every student from every college!</h4><br>
                    <a class="btn btn-primary btn-lg" href="mailto:coding@iitgn.ac.in">Join us</a>
                </div>
                <div class="col-md-4 text-right footersocial">
                    <h5>Connect with Us</h5>
                    <a href="https://www.facebook.com/Cerebro-106166857576883/?modal=admin_todo_tour"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/Cerebro_AI"><i class="fa fa-twitter"></i></a>
                    <a href="https://github.com/cerebroai"><i class="fa fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>

    <!-- Begin Footer
    ================================================== -->
    <footer class="footer">

        <div class="container">

            <div class="row">
                <div class="col-sm-4">
                <div class="footer-widget">
                <a href="{{site.baseurl}}/contact">
                <h5 style="color: #60b0f4; font-size: 60px; margin-top:1em">Cerebro</h5>
                </a>
                </div>
                </div>

                <div class="col-sm-4">
                <div class="footer-widget">
                <h5 class="title">Resources</h5>
                <ul>
                <li><a target="_blank" href="https://github.com/cerebroai">Open Source</a></li>
                <li><a target="blank" href="https:/iitgn.ac.in">IIT Gandhinagar</a></li>
                <li><a target="blank" href="http://coding-iitgn.github.io">Metis, IITGN</a></li>
                </ul>
                </div>
                </div>

                <div class="col-sm-4">
                <div class="footer-widget">
                <h5 class="title">Adress</h5>
                <ul>
                    Indian Institute of Technology<br>
                    Palaj, Gujarat 382355<br>
                    India
                </ul>
                </div>
                </div>
            </div>

            <div class="copyright">
                <p class="pull-left">
                Copyright © {{ site.time | date: "%Y" }} Cerebro.
                </p>
                <div class="clearfix"></div>
            </div>

        </div>

    </footer>
    <!-- End Footer
    ================================================== -->

    
</div> <!-- /.site-content>

<!-- JavaScript
================================================== -->
    
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
<script src="{{ site.baseurl }}/assets/js/ie10-viewport-bug-workaround.js"></script>
    
<script type='text/javascript' src='{{ site.baseurl }}/assets/js/masonry.pkgd.min.js'></script>
    
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>    
    
</body>
    
</html>